<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
    <title>Upload your CSV</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
            {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            </div>
            {% if perms.hello.can_view %}
            <form action="upload/" method="post"class="mt-5"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="file1" id="file1" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Upload</button>
                </div>
            </form>
            <div>
                {% else %}
                <p>we are sorry but permission diened</p>
                {% endif %}
                {% else %}
                <p>You are not logged in</p>
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>